<!DOCTYPE html>
<html lang="en">
<title>Landing Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">Sign-Up</h2>
  </div>
  <!-- The Tour Section -->
  <div class="w3-blue" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <form action="{% url 'signup' %}" method="post" style="display:table; margin-left: 40%">
        {% csrf_token %}
        <label for="username">Username</label><br/>
        <input type="text" name="username" id="username" />
        <br>
        <label for="name">Full Name</label><br/>
        <input type="text" name="name" id="name" />
        <br>
        <label for="email">Email</label><br/>
        <input type="text" name="email" id="email" />
        <br>
        <label for="password">Password</label><br/>
        <input type="password" name="password" id="password" />
        <br><br>
        <input type="submit" value="Sign Up" />
        <br><br>
        <a href="/login">already has an account?</a>
        <br><br>
        <a href="/">Go Back</a>
        </form>
        <br>
        
        
    </div>
  </div>

  
<!-- End Page Content -->
</div>
<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>


